<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
      }
      .container {
        max-width: 800px;
        max-height: fit-content;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      }
      h1 {
        text-align: center;
        color: #333;
      }
      p {
        color: #666;
        line-height: 1.6;
      }
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img
        src="https://bgr.com/wp-content/uploads/2021/04/bgrpic-copy-10.jpg?quality=82&strip=all&resize=1400,1400"
        alt="Pavansai_kaviti"
        width="300"
        height="300"
        class="center"
      />
      <h1>Welcome, Admin!</h1>
      <p>
        This is your admin page where you can manage various aspects of your
        website.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec purus
        eget orci fermentum facilisis. Suspendisse potenti. Nam non quam felis.
        Sed ultrices nunc eu ipsum tincidunt, sed sollicitudin magna fermentum.
      </p>
      <p>
        Donec id ultricies est, vitae aliquam tortor. Curabitur interdum dui id
        tellus ullamcorper, vel ultricies nulla euismod. Pellentesque
        consectetur dolor sed turpis vehicula, non condimentum leo rhoncus.
      </p>
      <p>
        Nullam consequat tortor vitae magna bibendum, ut fringilla felis
        convallis. Sed ut bibendum odio. Vestibulum tempor ex id est
        ullamcorper, nec euismod erat gravida.
      </p>
    </div>
  </body>
</html>
